*{
    margin:0;
    padding:0;
}
body{
    background-color:#4f0760;
    font-family: Arial, Helvetica, sans-serif;
}
img{
    width: 200px;
    height: 100px;
}
.contenedor{
    width: 90%;
	max-width: 1000px;
	margin: 20px auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(4, auto);
    grid-template-areas: 
        "logo nav nav nav"
        "productos productos servicios servicios"
        "footer footer footer footer";
    grid-gap: 10px;
}
.logo{
    grid-area: logo;
    color:white;
    display: flex;
	align-items: center;
	justify-content: center;
    background-color: #c917d3;
    text-align: center;
    height: 50px;
    border-radius: 3px;
}
.nav{
    display: flex;
	align-items: center;
	justify-content: center;
    color:white;
	grid-area:nav;
    height: 50px;
    background-color: #c917d3;
    text-align: center;
    border-radius: 3px;
}
.productos{
    grid-area:productos;
    background-color: #ab56be;
    border-radius: 5px;
    padding: 1rem;
}
.servicios{
    grid-area:servicios;
    background-color: #ab56be;
    border-radius: 5px;
    padding: 1rem;
}

.footer{
    grid-area:footer;
    background-color: #c917d3;
    color: whitesmoke;
    text-align: center;
    height: 50px;
    border-radius: 3px;
}

